@using ShoesShop.DAL.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProG Coder</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="~/css/custom.min.css">

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/fontawesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/datatables.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" id="link-href-css" type="text/css" href="~/admin/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/admin/assets/css/light-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/responsive.css">

    <link rel="stylesheet" type="text/css" href="~/lib/toast/jquery.toast.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/sweetalert2/sweetalert2.min.css">
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
    
    <link href="~/lib/canvasjs/styles.css" rel="stylesheet"/>
    <script src="~/lib/canvasjs/jquery-ui.1.11.2.min.js"></script>
    <script src="~/lib/canvasjs/jquery.canvasjs.min.js"></script>
    
    <script src="~/lib/toast/jquery.toast.min.js"></script>
    <script src="~/js/application/common.js"></script>
    <script src="~/js/application/handle-ajax.js"></script>
    <script src="~/js/application/admin/common-admin.js"></script>
    
    <script src="~/admin/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/assets/js/datatable/datatables/datatable.custom.js"></script>
    
    <link rel="stylesheet" type="text/css" href="~/lib/select2/select2.css">
    <script src="~/lib/select2/select2.full.min.js"></script>
    
</head>
<body>
<input type="hidden" id="AppVersion" value="@AppVersion.IsEnglishVersion.ToString().ToLower()">

<!-- Loader starts-->
<div class="loader-wrapper" id="loading" style="opacity: 70% !important; display: none">
    <div class="loader loader-7">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
    </div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    @await Html.PartialAsync("_HeaderPartial")
    <!-- Page Header Ends     
    -->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Left Sidebar Start-->
        @await Html.PartialAsync("_LeftBarPartial")
        <!-- Page Left Sidebar Ends-->

        <!-- Right sidebar Start-->
        @await Html.PartialAsync("_RightBarPartial")
        <!-- Right sidebar Ends-->

        @RenderBody()

        <!-- footer start-->
        @await Html.PartialAsync("_FooterPartial")
    </div>

</div>

<!-- Bootstrap js-->
<script src="~/admin/assets/js/bootstrap/popper.min.js"></script>
<script src="~/admin/assets/js/bootstrap/bootstrap.js"></script>
<!-- Sidebar ~jquery-->
<script src="~/admin/assets/js/sidebar-menu.js"></script>
<script src="~/admin/assets/js/config.js"></script>
<!-- Plugins ~ start-->

<script src="~/admin/assets/js/chat-menu.js"></script>
<script src="~/admin/assets/js/tooltip-init.js"></script>
<!-- Plugins ~ Ends-->

<!-- Theme js~-->
<script src="~/admin/assets/js/script.js"></script>
<script src="~/admin/assets/js/theme-customizer/customizer.js"></script>
<!-- login js-->
<!-- Plugin used-->
<!-- feather ~on js-->
<script src="~/admin/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="~/admin/assets/js/icons/feather-icon/feather-icon.js"></script>

<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/js/application/realtime.js"></script>
</body>
</html>