@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/rating-star.min.css">

<div class="container">
    <div class="row">
        <div class="star-rating">
            <span class="fa fa-star-o" data-rating="1" style="cursor: pointer;"></span>
            <span class="fa fa-star-o" data-rating="2" style="cursor: pointer;"></span>
            <span class="fa fa-star-o" data-rating="3" style="cursor: pointer;"></span>
            <span class="fa fa-star-o" data-rating="4" style="cursor: pointer;"></span>
            <span class="fa fa-star-o" data-rating="5" style="cursor: pointer;"></span>
            <span id="AverageStarPoint">0/5</span>
            <input type="hidden" name="whatever1" class="rating-value" value="0">
        </div>
    </div>
</div>