@using ShoesShop.DAL.Constants
@{
    var accountDeleted = AppVersion.IsEnglishVersion ? "Account has deleted" : "Tài khoản đã bị xóa";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <h1>@accountDeleted</h1>
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->