<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <h1>Something went wrong! Please contact admin system</h1>
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->