@using ShoesShop.DAL.Constants
@{
    Layout = "_LayoutAdmin";
    var title = AppVersion.IsEnglishVersion ? "Category Management" : "Quản lý thể loại";
    var addNew = AppVersion.IsEnglishVersion ? "Add New" : "Tạo mới";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="text-align: center">@title</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <!-- Zero Configuration  Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-success" type="button" id="btn-add-new">@addNew</button>
                    </div>
                    <div class="card-body" id="div-datatable">

                    </div>
                </div>
            </div>
            <!-- Zero Configuration  Ends-->
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

<div class="modal fade" id="modal-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-body">
        </div>
    </div>
</div>

<script src="~/js/application/admin/category/category.js"></script>